@import "../../node_modules/normalize-scss/sass/normalize";

$main-color: #1eb7ac;

@include normalize();

body {
  font-family: 'Roboto', sans-serif;
  background: #f5f5f5;
}

.button {
  background: $main-color;
  border: none;
  padding: 15px;
  transition: background 0.3s;
  color: white;
  font-size: 13px;
  &:hover {
    background: darken($main-color, 10);
  }
}

.page {
  max-width: 1240px;
  margin: 0 auto;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .page {
    &__content {
      width: 65%;
      float: left;
      padding: 15px;
    }
    &__sidebar {
      width: 30%;
      float: right;
    }
  }
}