.basket {
  &__items {
    padding: 0;
    list-style-type: none;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dedede;
    font-size: 12px;
    .price {
      &__value {
        margin-bottom: 0;
        font-size: 12px;
      }
    }
  }
}