.products-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  &__item {
    background: white;
    padding: 20px;
    border: 1px solid #dedede;
    margin-bottom: 20px;
    &:nth-child(even) {
      background-color: #fefefe;
    }
  }
  &__content {
    padding-right: 20px;
    p {
      margin-bottom: 20px;
      font-size: 14px;  
    }
  }
  &__heading {
    margin-top: 0;
    margin-bottom: 20px;
  }
  &__details {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .products-list {
    &__item {
      display: flex;
      // align-items: center;
    }
    &__details {
      display: block;
    }
  }
}